.wrapper {
    position: sticky;
    top: 0;
    background: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    z-index: 999;

    /* border-bottom: 1px solid #80808056; */
    border-bottom: 1px solid #8080806c;
}

.wrapper li {
    list-style: none;
    margin: 0 10px;
}

.wrapper>ul {
    display: flex;
    justify-content: space-evenly;
}

.link {
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 12px;
}

.link__active, .link:hover {
    background-color: #14213d;
    color: white;
}

.logo {
    color: #4582FE;
    font-weight: bold;
    font-size: 2rem;

    text-transform: uppercase;
}
