.wrapper>main {
    margin: 0 auto 50px;
    width: 100%;
}

.wrapper>h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.content {
    display: flex;
}

.content>div {
    width: 100px;
    background-color: green;
}
