.wrapper {
    background: white;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid #8080802b;
}

.form input {
    padding: 8px 12px;
    box-sizing: border-box;
}

.form textarea { resize: none; }

.title { margin-top: 0; }


.description {
    height: 200px;
    padding: 10px;
}

.form label {
    display: flex;
    flex-direction: column;
}

.input_row {
    display: flex;
    justify-content: space-between;
}

.input_row:not(:last-child) {
    margin-bottom: 1rem;
}
