.wrapper {
    position: relative;
    align-items: center;
    background-color: #fff;
    border: 1px solid #8080802b;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    padding: 10px 20px;
    transition: 0.1s;
}

.title {
    color: black;
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

.description {
    margin: 0;
    color: grey;
    text-decoration: none;
    text-align: center;
}

.link {
    text-decoration: none;
}

.wrapper:hover {
    background-color: #fff;
    /* border-color: #4582fe; */
    border-color: #8080805c;
    /* border-width: 2px; */
}

.author {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: black;
}
